*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.menu{
    display: none;
}

.container{
    width: 100%;
    display: flex;
    max-width: 1100px;
}

.carta{
    background-color: whitesmoke;
    width: 100%;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 15px black;
    cursor: default;
    transition-duration: 0.5s;
}

.carta:hover{
    box-shadow: 10px 10px 15px black;
    transform: scale(1.05, 1.05);
}

.carta img{
    width: 100%;
}

h3{
    font-weight: 600;
}

.carta .contenido{
    padding: 30px 15px;
    text-align: center;
}
.carta .contenido p{
    margin: 10px 0 20px;
    line-height: 1.5;
}

.deCartas{    
    text-decoration: none;
    font-weight: bold;
    background-color: darkgoldenrod;
    color: white;
    padding: 10px;
    border-radius: 15px;
    transition-duration: 0.5s;
}

.deCartas:hover{
    background-color: white;
    color: darkgoldenrod;
    border: 1px solid darkgoldenrod;
}

@media (max-width: 921px) {
    
    *{
        box-sizing: border-box;
    }

    html{
        scroll-behavior: smooth;
        scroll-padding: 25% 0;
    }

    .menu{
        display: inline;
    }

    header{
        display: flex;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100px;
        align-items: center;
        justify-content: center;
        background-color: darkgoldenrod;
    }

    nav a{    
        color: white;
        text-shadow: 5px 5px 10px black;
        text-decoration: none;
        font-weight: bold;
        padding: 5px;
    }

    #naipes{
        margin-top: 130px;
    }

    nav{
        display: flex;
        flex-direction: column;
        align-items: center;   
    }

    body{
        height: 100%;
    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: ghostwhite;
    }

    .carta{
        width: 80%;
        height: 50%;
    }
    
}